# Telegram Credentials
TELEGRAM_BOT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=

# Spotify Credentials
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# ACRCloud Credentials (Optional)
ACRCLOUD_HOST=
ACRCLOUD_ACCESS_KEY=
ACRCLOUD_ACCESS_SECRET=